.bg-bug {
  background-color: #c4d061;
}

.bg-dark {
  background-color: #58514c;
}

.bg-dragon {
  background-color: #9281dd;
}

.bg-electric {
  background-color: #9281dd;
}

.bg-fairy {
  background-color: #dca0dc;
}

.bg-fighting {
  background-color: #be715a;
}

.bg-normal {
  background-color: #e0dfdf;
}

.bg-poison {
  background-color: #a87dbc;
}

.bg-pyshic {
  background-color: #f175a0;
}

.bg-fire {
  background-color: #fb6868;
}

.bg-flying {
  background-color: #aab9fa;
}

.bg-ghost {
  background-color: #9292cb;
}

.bg-grass {
  background-color: #82dcc7;
}

.bg-ground {
  background-color: #d3ba73;
}

.bg-ice {
  background-color: #81e4fa;
}

.bg-rock {
  background-color: #81e4fa;
}

.bg-steel {
  background-color: #d1d1dc;
}

.bg-water {
  background-color: #96caff;
}
